
<body>
<h1><b>My home page :)</h1>
<%=image_tag"10250946_687418477988821_1686081623_n.jpg"%>
<div><p> ELMIYA AGNES K</p>
KARUTHEDATH HOUSE</p>
COCHIN PALACE P O</P>
HILL PALACE </P>
TRIPUNITHURA</P>
PIN - 682301</p>
<p><%=link_to "qualification" , say_qualification_path %>
</p>
</div>
</b>
</body>
